{% extends "_in.html" %}

{% block main %}
<div class="intro page">
    <div class="intro-header page-heading">So, you're Graduating!</div>
 
    <div class="intro-body">
        <p>Congrats fam! 5 years (or 4) really isn't beans.</p>

        <p>The all-nights, running from affairs bus, the Cafe paroles, the tests, exams, that final year project, you've really tried tbh. You definitely deserve all the accolades for all the stress.</p>

        <p>Thankfully, that's all over.</p>

        <p class="">So, there's an e-yearbook, as opposed to the physical stuff.</p>

        <p class="">With this, you'll be able to look back into this moment, 5 years or 50 years from now, from your Santorini residence in Greece or your mansion in Malibu and see how far you've gone.</p>
    </div>

    <a href="#">
        <div class="get-started">Get Started <span></span></div>
    </a>
</div>
{% endblock %}
