{% extends "_in.html" %}
{% import "partials/timeline.html" as timeline %}

{% block main %}
<div class="memories page">
    <div class="memories-header page-heading">Memories</div>

    <div class="memories-body">
        {{ timeline.timeline(3) }}

        <div class="page-instructions">Memories. These are pictures of moments that mattered to you throughout your stay in CU. Maybe pictures of you and your guys ... sha something along that line.</div>

        <form action="#" class="form">
            <div class="dropzone">
                <div class="dropzone-icon">
                    <img src="../assets/img/upload.svg" alt="Twitter">
                </div>
                <div class="dropzone-text">Drag pictures here or click the button to upload pictures.</div>
                <div class="dropzone-action">
                    <input type="submit" value="Upload Pictures">
                </div>
            </div>
            
            <input type="submit" value="Save & Preview" class="submit-button">
        </form>
    </div>
</div>
{% endblock %}