{% extends "_in.html" %}

{% block main %}
<div class="profile page">
    <div class="profile-header page-heading">Profile</div>

    <div class="profile-body">
        <div class="profile-picture"></div>
        <div class="profile-edit">Edit Profile</div>

        <div class="profile-table">
            <div class="row">
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Name</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">Peter Oluwatobi Olusesan</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Nickname</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">Sesan</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Birthday</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">August 6th, 1997</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Facebook</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">https://facebook.com/peter.olusesan</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Twitter</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">https://twitter.com/peter.olusesan</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Instagram</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">https://instagram.com/@peter.olusesan</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Snapchat</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">-</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">LinkedIn</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">https://linkedin.com/peter.olusesan</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Phone Number</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">07000000000</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Who are you?</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias odio id voluptates corporis perferendis recusandae excepturi, eius sint, ex pariatur repellat dicta voluptatem iste quisquam explicabo culpa! Ipsa, eum tempora.</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Your interests</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum accusantium exercitationem velit, ipsa dicta veritatis, repudiandae at cum deserunt deleniti quia, eveniet tenetur! Qui ipsa, odit eligendi similique ut vero.</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Favourite people</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">Myself</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Role models</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">Myself</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">What would you miss about CU?</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, saepe harum eius eveniet voluptatum, id totam omnis molestias ullam optio iusto quasi facilis dolor? Incidunt culpa cumque facere corporis cum?</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Parting words</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptate totam, ex maiores reiciendis quibusdam ut. Accusantium, minus officiis. Fuga vitae rem voluptates blanditiis numquam velit voluptate ipsa optio fugit.</div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="profile-key">Memories</div>
                </div>
                <div class="col-sm-8 col-md-7">
                    <div class="profile-value">
                        <div class="memories-pictures">
                            <div class="memories-picture"></div>
                            <div class="memories-picture"></div>
                            <div class="memories-picture"></div>
                            <div class="memories-picture"></div>
                            <div class="memories-picture"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}